<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table class="board">
        <tbody>
            <tr>
                <td><span class="white">香</span></td>
                <td><span class="white">桂</span></td>
                <td><span class="white">銀</span></td>
                <td><span class="white">金</span></td>
                <td><span class="white">玉</span></td>
                <td><span class="white">金</span></td>
                <td><span class="white">銀</span></td>
                <td><span class="white">桂</span></td>
                <td><span class="white">香</span></td>
            </tr>
            <tr>
                <td></td>
                <td><span class="white">飛</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="white">角</span></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
                <td><span class="white">歩</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
                <td><span class="black">歩</span></td>
            </tr>
            <tr>
                <td></td>
                <td><span class="black">角</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="black">飛</span></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="black">香</span></td>
                <td><span class="black">桂</span></td>
                <td><span class="black">銀</span></td>
                <td><span class="black">金</span></td>
                <td><span class="black">玉</span></td>
                <td><span class="black">金</span></td>
                <td><span class="black">銀</span></td>
                <td><span class="black">桂</span></td>
                <td><span class="black">香</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>