<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}} ">
</head>
<body>
    {{banmen | safe}}
    <div id="clicked" style="border: 1px solid black; width: 500px; height: 100px;"></div>
​
    <script>
    function SendIdAsPosition(tdId) {
        var clicked_masu = tdId;
        $.ajax("/call_from_ajax", {
            type: "post",
            data: {"masu": clicked_masu},              // 連想配列をPOSTする
        }).done(function(received_data) {           // 戻ってきたのはJSON（文字列）
            var dict = JSON.parse(received_data);   // JSONを連想配列にする
            var answer = dict["answer"];
            $("#clicked").html(answer);              // html要素を書き換える
        }).fail(function() {
            console.log("失敗");
        });
    }
    </script>
</body>
</html>